<div class="row col-md-12">
  <div class="col-md-3">
    <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="refresh()">
      <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> REFRESH
    </button>
    <img ng-src="images/spinner.gif" class="loader" ng-show="loading">
    </div>

  <div class="col-md-3">
    <span>Sort By</span>
    <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="sort('person.age')">AGE</button>
    <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="sort('person.distance_mi')">
      DISTANCE
    </button>
    <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="sort('created_date')">
      MATCH DATE
    </button>
  </div>
</div>

<div class="row top-space col-lg-12 col-md-12" ng-repeat="item in matches | orderBy : sortCriteria : sortOrder">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span>{{item.person.name}} {{item.person.age}}</span> |
        <span>[{{item.person.distance_km}} Km]</span> |
        <span>{{item.created_date | date:'yyyy-MM-dd HH:mm:ss'}}</span> |
        <span>{{item.person._id}}</span> |
        <button type="button" class="btn btn-default" ng-click="locate(item.person._id)">
          <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> LOCATE USER
        </button>
        <img ng-src="images/spinner.gif" class="loader" ng-show="item.person.searchingUser">
        <a href="{{item.person.mapsUrl}}">{{item.person.mapsUrl}}</a>
      </div>
        <div class="panel-body">

            <div class="row col-md-12 col-lg-12">
                <div class="col-md-6 col-lg-3" ng-repeat="photo in item.person.photos">
                    <img ng-src="{{photo.processedFiles[2].url}}" class="img-rounded" />
                </div>
            </div>

        </div>
    </div>

</div>
